# Database
DATABASE_URL="postgresql://postgres:password123@localhost:5432/invoicer_db"

# Security
JWT_SECRET="super-secret-jwt-key"

# Local Testing Scripts Key
STAGE="local"
SCRIPTS_API_KEY="test-local-key"